{% block head %}
<!DOCTYPE html>
<html lang="">

<head>
    <title>BAA Institut Asia Malang</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="https://i.ibb.co/vJxYNJd/favicon.png" rel="icon">
    <link href="layout/styles/layout.css" rel="stylesheet" type="text/css" media="all">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css">
</head>

<body id="top">
    <div class="wrapper row0">
        <header id="header" class="hoc clear">
            <a href="https://asia.ac.id/" target="_blank">
                <div id="logo" class="one_quarter first">
                    <img src="https://i.ibb.co/JQkMQT3/asia-logo.png" alt="institu asia logo"
                        style="width: 180px; display: block; margin-left: auto; margin-right: auto; margin-bottom: 5px;">
                    <p style="text-align: center; font-weight: bold; color: #1e2a57;">Biro Administrasi & Akademik</p>
                </div>
            </a>
            <br>
            <div class="three_quarter">
                <ul class="nospace clear">
                    <li class="one_third first">
                        <div class="block clear"><i class="fas fa-phone"></i>
                            <span><strong>Whatsapp:</strong> +00
                                (123) 456 7890</span>
                        </div>
                    </li>
                    <li class="one_third">
                        <div class="block clear"><i class="fas fa-envelope"></i>
                            <span>
                                <strong>
                                    Email:
                                </strong>
                                support@domain.com
                            </span>
                        </div>
                    </li>
                    <li class="one_third">
                        <div class="block clear"><i class="fas fa-clock"></i>
                            <span>
                                <strong> Senin -
                                    Minggu:</strong> 08.00am - 20.00pm
                            </span>
                        </div>
                    </li>
                </ul>
            </div>
        </header>
    </div>
    <div class="wrapper row1">
        <div class="hoc clear">
            <nav id="mainav">
                <ul class="clear">
                    <li><a href="/">Home</a></li>
                    <li><a href="/pengumuman-all">Pengumuman</a></li>
                    <li><a href="/#kalender">Kalender Akademik</a></li>
                    <li><a href="/akreditasi">Akreditasi</a></li>
                    <li><a href="/surat-keputusan">Surat Keputusan</a></li>
                    <li><a href="/#unduhan">Unduhan</a></li>
                    <li><a href="/login-page">Login</a></li>
                </ul>
            </nav>
        </div>
    </div>
    {% endblock %}
