{{ block("head", "_blocks/head.html") }}
<div class="wrapper bgded overlay" style="background-image:url('images/demo/backgrounds/01.png');">
  <div id="breadcrumb" class="hoc clear">
    <h6 class="heading">Pengumuman Akademik</h6>
    <br>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/pengumuman-all">Pengumuman</a></li>
      <li><a href="#">Detail</a></li>
    </ul>
  </div>
</div>

<div class="wrapper row3">
  <main class="hoc container clear">
    <div class="content">
      <h1 style="font-size: 30px;">Ante euismod viverra integer sagittis mauris facilisis</h1>
      <span><i class="far fa-calendar-alt rgtspace-5"></i> 6 April 2024 | <i class="fas fa-user rgtspace-5"></i>
        Admin</span>
      <p>Portortornec condimenterdum eget consectetuer condis consequam pretium pellus sed mauris enim. Puruselit mauris
        nulla hendimentesque elit semper nam a sapien urna sempus.</p>
    </div>
    <div class="clear"></div>
  </main>
</div>
{{ block("footer", "_blocks/footer.html") }}