{{ block("head", "_blocks/head.html") }}
<div class="wrapper bgded overlay" style="background-image:url('images/demo/backgrounds/01.png');">
  <div id="breadcrumb" class="hoc clear">
    <h6 class="heading">Pengumuman Akademik</h6>
    <br>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="#">Pengumuman</a></li>
    </ul>
  </div>
</div>
<div class="wrapper row2">
  <section class="hoc container clear">
    <ul class="nospace group latest">
      <a href="/detail-pengumuman-2" style="color: black;">
        <li class="one_third first">
          <article>
            <time><i class="far fa-calendar-alt rgtspace-5"></i> 6 April 2045</time>
            <div class="excerpt">
              <h6 class="heading">Ante euismod viverra integer sagittis mauris facilisis</h6>
              <p>Dolor semper massa fusce condimentum elit sit amet est aenean dui suspendisse mattis aenean est massa
                vulputate eget eleifend ac consequat non velit vestibulum ante ipsum [<a href="#">&hellip;</a>]</p>
              <ul class="meta">
                <li><i class="fas fa-user rgtspace-5"></i>Admin</li>
              </ul>
            </div>
          </article>
        </li>
      </a>
    </ul>
  </section>
</div>
{{ block("footer", "_blocks/footer.html") }}