{{ block("head", "_blocks/head.html") }}
<div class="wrapper bgded overlay" style="background-image:url('images/demo/backgrounds/01.png');">
    <div id="breadcrumb" class="hoc clear">
        <h6 class="heading">Surat Keputusan</h6>
        <br>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="#">Surat Keputusan</a></li>
        </ul>
    </div>
</div>

<div class="wrapper row2">
    <section class="hoc container clear">
        <div class="scrollable">
            <table class="fl-table table-db">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Judul Surat Keputusan</th>
                        <th>Dokumen</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <center>1</center>
                        </td>
                        <td>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</td>
                        <td>
                            <button class="btn-download">
                                <i class="fa-cloud-download-alt fa-fw fas"></i> unduh
                            </button>
                        </td>
                    </tr>
                <tbody>
            </table>
        </div>
    </section>
</div>
{{ block("footer", "_blocks/footer.html") }}